@{
   ViewBag.Title = "Index";
}

<h2>Gestion des taches</h2>

<hr />

@if (ViewBag.nbNonAffecte != 0)
{
   <div style="background-color: #000000; font-size: 16px; color:#FFFFFF; width:100%; padding-left:10px">
      Non affecte
   </div>
}
@foreach (var data in ViewBag.listeNonAffecte)
{


   <div class="row">

      <hr />

      <div style="background-color: #CCCCCC; font-size: 16px; color: #000000; width: 100%; padding-left:10px">@data.nom</div>
      <br />
      <div>@data.description</div>
      <br />

      <div><a href="~/Home/sapproprierrTache/@data.id" class="btn btn-warning">S'approprier</a></div>
   </div>

   <hr />
}

@foreach (var data in ViewBag.listeUtilisateurs)
{
   if (data.Taches.Count == 0) { continue; }
   <div style="background-color: #000000; font-size: 16px; color:#FFFFFF; width:100%; padding-left:10px">
      @data.nom
   </div>

   foreach (var tache in data.Taches)
   {
      <hr />
      <div>
         <div class="row">
            <div style="background-color: #CCCCCC; font-size: 16px; color: #000000; width: 100%; padding-left:10px">@tache.nom</div>
            <br />
            <div>@tache.description</div>
         </div>
      </div>

   }
   <br />
}
